In [8]:
import pandas as pd
import numpy as np

In [2]:
file_path = r'C:\Users\User\Downloads\SEM_4_MACHINE_LEARNING\lab_session_data.xlsx'

In [3]:
df = pd.read_excel(file_path)

In [4]:
# Display the first 5 rows
print(df.head())

# Display information about the DataFrame (data types, non-null values)
print(df.info())

  Customer  Candies (#)  Mangoes (Kg)  Milk Packets (#)  Payment (Rs)  \
0      C_1           20             6                 2           386
1      C_2           16             3                 6           289
2      C_3           27             6                 2           393
3      C_4           19             1                 2           110
4      C_5           24             4                 2           280

   Unnamed: 5  Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  ...  \
0         NaN         NaN         NaN         NaN         NaN  ...
1         NaN         NaN         NaN         NaN         NaN  ...
2         NaN         NaN         NaN         NaN         NaN  ...
3         NaN         NaN         NaN         NaN         NaN  ...
4         NaN         NaN         NaN         NaN         NaN  ...

   Unnamed: 12  Unnamed: 13  Unnamed: 14  Unnamed: 15  Unnamed: 16  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

   Unnamed: 17  Unnamed: 18  Candy  Mango  Milk
0          NaN          NaN    1.0   55.0  18.0
1          NaN          NaN    NaN    NaN   NaN
2          NaN          NaN    NaN    NaN   NaN
3          NaN          NaN    NaN    NaN   NaN
4          NaN          NaN    NaN    NaN   NaN

[5 rows x 22 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Customer          10 non-null     object
 1   Candies (#)       10 non-null     int64
 2   Mangoes (Kg)      10 non-null     int64
 3   Milk Packets (#)  10 non-null     int64
 4   Payment (Rs)      10 non-null     int64
 5   Unnamed: 5        0 non-null      float64
 6   Unnamed: 6        0 non-null      float64
 7   Unnamed: 7        0 non-null      float64
 8   Unnamed: 8        0 non-null      float64
 9   Unnamed: 9        0 non-null      float64
 10  Unnamed: 10       0 non-null      float64
 11  Unnamed: 11       0 non-null      float64
 12  Unnamed: 12       0 non-null      float64
 13  Unnamed: 13       0 non-null      float64
 14  Unnamed: 14       0 non-null      float64
 15  Unnamed: 15       0 non-null      float64
 16  Unnamed: 16       0 non-null      float64
 17  Unnamed: 17       0 non-null      float64
 18  Unnamed: 18       0 non-null      float64
 19  Candy             1 non-null      float64
 20  Mango             1 non-null      float64
 21  Milk              1 non-null      float64
dtypes: float64(17), int64(4), object(1)
memory usage: 1.8+ KB
None

In [5]:
# Feature matrix X
X = df[["Candies (#)", "Mangoes (Kg)", "Milk Packets (#)"]].values

# Output vector y
y = df["Payment (Rs)"].values

print("X shape:", X.shape)
print("y shape:", y.shape)

X shape: (10, 3)
y shape: (10,)

In [6]:
#shape
X.shape[0]

10

In [9]:
#To calculate the rank
rank_X = np.linalg.matrix_rank(X)
print("Rank of feature matrix X:", rank_X)

Rank of feature matrix X: 3

In [10]:
# Pseudo-inverse of X
X_pinv = np.linalg.pinv(X)

# Cost vector
costs = X_pinv @ y

print("Cost of Candies (Rs/unit):", costs[0])
print("Cost of Mangoes (Rs/kg):", costs[1])
print("Cost of Milk Packets (Rs/unit):", costs[2])

Cost of Candies (Rs/unit): 1.0000000000000009
Cost of Mangoes (Rs/kg): 55.00000000000001
Cost of Milk Packets (Rs/unit): 17.99999999999998

In [11]:
def wealth(y):
    if y > 200:
        print("rich")
    else:
        print("poor")
df['wealth'] =df['payment (Rs)'].apply(wealth)

KeyError: 'payment (Rs)'